body {
    padding-top: 36px;
    padding-left: 156px;
    font-family: "Montserrat", sans-serif;
}

/*button[data-start] {
   background-color: #4E75FF;
     color: #fff;
    cursor: pointer;
}*/
button[data-start] {
    width: 75px;
    height: 44px;
    padding: 8px 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    /*color: #989898;*/
    border-radius: 8px;
    border: none;
}
button[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    background-color: #CFCFCF;
    color: #989898;
}

button[data-start]:hover {
    background-color: #6c8cff;
    
}



/*button[data-start] {
    background-color: #4E75FF;
    color: #fff;
    cursor: pointer;
}

button[data-start]:hover {
    background: #6c8cff;
}

button[data-start] {
    width: 75px;
    height: 44px;
    padding: 8px 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #989898;
    background-color: #CFCFCF;
    border-radius: 8px;
    border: none;
}*/



.flatpickr-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.flatpickr-input:hover,
.flatpickr-input:focus {
    border: 1px solid #000;

}

.flatpickr-input.active {
    /*border-color: #4E75FF;*/
    outline: none;
        border: 1px solid #4e75ff;
}



.timer {
    width: 346px;
    height: 72px;
    display: flex;
    gap: 24px;
    padding-top: 32px;
}

.field {
    width: 82px;
    height: 72px;
    display: flex;
    flex-direction: column;

}

.value {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    color: #2E2F42;
}

.label {
    font-size: 16px;
    color: #2E2F42;
    display: flex;
    justify-content: center;
}


